%body
  .container
    %p#notice= notice
    %p#error= flash[:error]
    %p
      %b Title:
      = product.title
    %p
      %b Description:
      = product.description
    %p
      %b Price:
      = product.price

    %p
      %b Category
      = product.category.name

    %h3 Reviews
    -if current_user
      -unless Review.exists?( {product_id: product[:id], user_id: current_user[:id]})
        = render 'reviews/form'
    %table{:class => "table table-hover"}
      %tr
        %th Content
        %th Rating
        %th Author
      - reviews.each do |review|
        %tr
          %td= review.content
          %td= review.rating
          %td= review.author

    = link_to 'Edit', edit_category_product_path(category.id, product.id)
    \|
    = link_to 'Back', category_products_path, class: 'btn btn-primary'
