!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = 'Welcome   ' + current_user.firstname
            = link_to root_path do
              %i.fa.fa-home.fa-1x Home
            = link_to user_path(current_user) do
              %i.fa.fa-edit.fa-1x  Profile
            = link_to destroy_user_session_path, :method => 'delete' do
              %i.fa.fa-sign-out.fa-1x  Logout
          - else
            = link_to root_path do
              %i.fa.fa-home.fa-1x Home
            = link_to new_user_session_path do
              %i.fa.fa-sign-in.fa-1x   Login
            = link_to new_user_registration_path do
              %i.fa.fa-arrow-circle-up.fa-1x   Sign up
    .container-fluid
      .row
        .col-lg-12
          = yield
